services:
  php:
    build: ./docker/php
    volumes:
      - .:/var/www/html
    networks:
      - athena_network

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - athena_network

  database:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: athena_db
      MYSQL_USER: athena
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - athena_network

  pma:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: database
      PMA_USER: athena
      PMA_PASSWORD: password
    ports:
      - "8080:80"
    depends_on:
      - database
    networks:
      - athena_network

volumes:
  db_data:

networks:
  athena_network:
