<form method="post" action="{{ path('app_commercial_relation_delete', {'id': commercial_relation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commercial_relation.id) }}">
    <button class="btn btn-sm btn-danger">
        <i class="bi bi-trash"></i> Supprimer
    </button>
</form>
