{% extends 'base.html.twig' %}

{% block title %}Modifier Relation Commerciale{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-secondary">
        <h1 class="h2">Modifier Relation Commerciale</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ path('app_commercial_relation_index') }}" class="btn btn-sm btn-outline-secondary me-2">
                <i class="bi bi-arrow-left"></i> Retour
            </a>
            {{ include('commercial_relation/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {{ include('commercial_relation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>
{% endblock %}
