{% extends 'base.html.twig' %}

{% block title %}Nouvelle Relation Commerciale{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-4 mb-4 border-bottom border-secondary">
        <h1 class="h2 fw-bold text-uppercase tracking-wide">
            <span class="text-primary">Nouvelle</span> Relation Commerciale
        </h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ path('app_commercial_relation_index') }}" class="btn btn-sm btn-outline-secondary">
                <i class="bi bi-arrow-left"></i> Retour
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {{ include('commercial_relation/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
